<div class="article news-wrapper {$article->getIdentifier()|webalize}">
    <article class="news-item">
    <h2 n:if="$article->isShowName()">
        {$articleTranslation->getName()}
    </h2>
    <p n:if="$article->getStructureFile()" class="featured-image"><img class="img-responsive" n:img="$article->getStructureFile()->getFile(), '750x300', 'fit_exact'" alt="{$articleTranslation->getName()}"></p>
    <p>{$articleTranslation->getText()|noescape}</p>
    </article>
</div>
