{block #content}
    <p n:isAllowed="article, edit">
        <a n:href="Group:edit" class="btn btn-primary"><i class="fa fa-plus"></i> {_"New article group"}</a>
    </p>
    {control gridGroup}
{/block}