moreArticles: 'More articles'
moreDots: 'More...'
published: 'Published'
articlePictures: 'Article pictures'
editArticlePicture: 'Edit article picture'
newArticlePicture: 'New article picture'
articlePictureHasBeenSucessfullySaved: 'Article picture has been successfully saved.'
articlePictureHasBeenSucessfullyDeleted: 'Article picture has been successfully deleted.'
articleHasBeenSucessfullySaved: 'Article has neen sucessfully saved.'
articleHasBeenSucessfullyDeleted: 'Article has been sucessfully deleted.'
articlesInGroupIdentifier: 'Articles in group "%groupIdentifier%"'
editArticleIdentifier: 'Edit article "%articleIdentifier%"'
newArticleInGroupIdentifier: 'New article in group "%groupIdentifier%"'
editArticleGroupIdentifier: 'Edit article group "%groupIdentifier%"'
articleGroups: 'Article groups'
newArticleGroup: 'New article group'
articleGroupHasBeenSucessfullySaved: 'Article group has been sucessfully saved.'
articleGroupHasBeenSucessfullyDeleted: 'Article group has been sucessfully deleted.'
name: 'Name'
perex: 'Perex'
text: 'Text'
identifier: 'Identifier'
position: 'Position'
tags: 'Tags'
isActive: 'Is active'
isPrimary: 'Is primary'
isShowName: 'Show name'
isPerexWysiwig: 'Use WYSIWIG editor for perex'
isAutoDetectTags: 'Autodetect tags in text'
save: 'Save'
pleaseEnterArticleName: 'Please enter article name.'
articleNameIsTooLong: 'Article name is too long, %d characters is allowed.'
articlePerexIsTooLong: 'Article perex is too long, %d characters is allowed.'
pleaseFillInTheIdentifier: 'Please fill in the identifier.'
thisNameIsAlreadyUsed: 'This name is already used.'
youHaveNoPermissionToEditThisArticle: 'You have no permission to edit this article.'
updatedAt: 'Updated at'
pictures: 'Pictures'
edit: 'Edit'
delete: 'Delete'
csvExportFiltered: 'CSV export (filtered)'
csvExport: 'CSV export'
doYouReallyWantToDeleteRowIdentifier: 'Do you really want to delete row "%s"?'
preview: 'Preview'
primaryPicture: 'Primary picture'
sortingMode: 'Sorting mode'
pleaseEnterGroupName: 'Please enter group name.'
groupNameIsTooLong: 'Group name is too long, %d characters is allowed.'
pleaseEnterGroupIdentifier: 'Please enter group identifier.'
pleaseSelectSortingMode: 'Please select sorting mode.'
thisIdentifierIsAlreadyUsed: 'This identifier is already used.'
youHaveNoPermissionToEditThisArticleGroup: 'You have no permission to edit this article group.'
sortByPosition: 'Sort by position'
sortByCreatedAt: 'Sort by created at'
articles: 'Articles'
newArticle: 'New article'
