moreArticles: 'Další články'
moreDots: 'Více...'
published: 'Uveřejněno'
articlePictures: 'Obrázky článku'
editArticlePicture: 'Úprava obrázku článku'
newArticlePicture: 'Nový obrázek článku'
articlePictureHasBeenSucessfullySaved: 'Obrázek článku byl úspěšně uložen.'
articlePictureHasBeenSucessfullyDeleted: 'Obrázek článku byl úspěšně smazán.'
articleHasBeenSucessfullySaved: 'Článek byl úspěšně uložen.'
articleHasBeenSucessfullyDeleted: 'Článek byl úspěšně smazán.'
articlesInGroupIdentifier: 'Články ve skupině "%groupIdentifier%"'
editArticleIdentifier: 'Úprava článku "%articleIdentifier%"'
newArticleInGroupIdentifier: 'Nový článek ve skupině "%groupIdentifier%"'
editArticleGroupIdentifier: 'Úprava skupiny článků "%groupIdentifier%"'
articleGroups: 'Skupina článků'
newArticleGroup: 'Nová skupina článků'
articleGroupHasBeenSucessfullySaved: 'Skupina článků byla úspěšně uložena.'
articleGroupHasBeenSucessfullyDeleted: 'Skupina článků byla úspěšně smazána.'
name: 'Jméno'
perex: 'Perex'
text: 'Text'
identifier: 'Identifikátor'
position: 'Pozice'
tags: 'Tagy'
isActive: 'Je aktivní'
isPrimary: 'Je primární'
isShowName: 'Zobrazit jméno'
isPerexWysiwig: 'Použíy WYSIWIG editor pro perex'
isAutoDetectTags: 'Automaticky detekovat tagy v textu'
save: 'Uložit'
pleaseEnterArticleName: 'Zadejte prosím název článku.'
articleNameIsTooLong: 'Název článku je příliš dlouhý, %d znaků je povoleno.'
articlePerexIsTooLong: 'Perex článku je příliš dlouhý, %d znaků je povoleno.'
pleaseFillInTheIdentifier: 'Vyplňte prosím intetifikátor.'
thisNameIsAlreadyUsed: 'Tento název je již zabrán.'
youHaveNoPermissionToEditThisArticle: 'Nemáte oprávění upravovat článek.'
updatedAt: 'Upraveno v'
pictures: 'Obrázky'
edit: 'Upravit'
delete: 'Smazat'
csvExportFiltered: 'Exportovat CSV (filtrováno)'
csvExport: 'Exportovat CSV'
doYouReallyWantToDeleteRowIdentifier: 'Opravdu chcete smazat záznam "%s"?'
preview: 'Náhled'
primaryPicture: 'Primární obrázek'
sortingMode: 'Mód řazení'
pleaseEnterGroupName: 'Zadejte prosím název skupiny.'
groupNameIsTooLong: 'Název skupiny je příliš dlouhý, %d znaků je povoleno.'
pleaseEnterGroupIdentifier: 'Zadejte prosím identifikátor skupiny.'
pleaseSelectSortingMode: 'Zadejte prosím mód řazení.'
thisIdentifierIsAlreadyUsed: 'Tento identifikátor je již zabrán.'
youHaveNoPermissionToEditThisArticleGroup: 'Nemáte oprávění editovat tuto skupinu článků.'
sortByPosition: 'Řadit dle pozice'
sortByCreatedAt: 'Řadit dle vytvořeno v'
articles: 'Články'
newArticle: 'Nový článek'