- Dravencms\Model\Article\Repository\ArticleRepository
- Dravencms\Model\Article\Repository\ArticleTranslationRepository
- Dravencms\Model\Article\Repository\GroupRepository
- Dravencms\Model\Article\Repository\GroupTranslationRepository
- Dravencms\Model\Article\Repository\ArticlePictureRepository


- Dravencms\Model\Article\Fixtures\AclOperationFixtures
- Dravencms\Model\Article\Fixtures\AclResourceFixtures
- Dravencms\Model\Article\Fixtures\AdminMenuFixtures